.nav {

  &__item {
    &:not(:last-child) {
      margin-right: 50px;

      @include hight-tablet {
        margin-right: 0;
        margin-bottom: 30px;
      }
    }
  }

  &__list {
    display: flex;
    align-items: center;

    @include hight-tablet {
      @include flex-all-center;

      flex-direction: column;
      width: 100%;
      height: 100%;
    }
  }

  &__link {
    position: relative;
    font-size: 13px;
    color: var(--color-light);
    outline: 0;
    transition: opacity 0.3s ease-in-out;

    @include hight-tablet {
      font-size: 25px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: currentColor;
      transform: scaleX(0);
      transition: transform 0.3s ease-in-out;
    }

    &:hover {
      &::before {
        transform: scaleX(1);
      }
    }

    &:active {
      opacity: 0.8;
      transition: opacity 0.3s ease-in-out;
    }

    &:focus {
      &::before {
        transform: scaleX(1);
      }
    }
  }

  @include hight-tablet {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 500;
    overflow-y: auto;
    width: 100%;
    height: 100vh;
    background-color: var(--color-haiti);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  }
}

.menu--active {
  opacity: 1;
  visibility: visible;
}
