<section class="about">
  <div class="container about__container">
      <div class="about-content grid">
        <div class="content-left">
          <h2 class="content-left__title">Your reliable web and app development partner</h2>
          <p class="content-left__descr">
            We make successful products that turn great ideas into user-friendly solutions for
            consumers and businesses.
        </p>
        </div>
        <div class="content-right">
          <div class="content-right__item">
            <div class="content-right__text">
              Completely tailored<br> software.
            </div>
          </div>
          <div class="content-right__item">
            <div class="content-right__text">
              Daily support with project manager.
            </div>
          </div>
          <div class="content-right__item">
            <div class="content-right__text">
              Projects delivered on time, always.
            </div>
          </div>
          <div class="content-right__item">
            <div class="content-right__text">
              Testing and quality<br> assurance.
            </div>
          </div>
          <div class="content-right__item">
            <div class="content-right__text">
              Professional marketing expertise.
            </div>
          </div>
          <div class="content-right__item">
            <div class="content-right__text">
              Transparent costs and support.
            </div>
          </div>
        </div>
      </div>
  </div>
</section>
