<section class="about">
  <div class="container about__container">
    <div class="about-wrapper">
      <div class="about-wrapper__left">
        <h2 class="title title__fz26">Your reliable web and app development partner</h2>
        <p class="about-wrapper__descr">
          We make successful products that turn great ideas into user-friendly solutions for consumers and businesses.
        </p>
      </div>
      <div class="about-wrapper__right">
        <div class="about-wrapper__item">
          Completely tailored software.
        </div>
        <div class="about-wrapper__item">
          Daily support with project manager.
        </div>
        <div class="about-wrapper__item">
          Projects delivered on time, always.
        </div>
        <div class="about-wrapper__item">
          Testing and quality assurance.
        </div>
        <div class="about-wrapper__item">
          Professional marketing expertise.
        </div>
        <div class="about-wrapper__item">
          Transparent costs and
          support.
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="whereareyou">
      <h2 class="title title__fz41">Where are you now?</h2>
      <p class="whereareyou__descr">
        Use the tabs below to identify what stage you’re at so we can help you to move on to the next phase of your
        project.
      </p>
    </div>
  </div>
</section>
