<div class="promo">
  <div class="container">
    <header class="header header__container grid">
      <div class="header__left">
        <a href="#" class="logo header__logo">
          <img src="img/header/header-logo.svg" alt="">
        </a>
      </div>
      <div class="header__right">
        <nav class="nav header__nav" data-menu>
          <ul class="nav__list list-reset">
            <li class="nav__item"><a class="nav__link"  href="#" data-menu-item  data-scroll>Home</a></li>
            <li class="nav__item"><a class="nav__link"  href="#" data-menu-item  data-scroll>Portfolio</a></li>
            <li class="nav__item"><a class="nav__link"  href="#" data-menu-item  data-scroll>Process</a></li>
            <li class="nav__item"><a class="nav__link"  href="#" data-menu-item  data-scroll>Team</a></li>
            <li class="nav__item"><a class="nav__link"  href="#" data-menu-item  data-scroll>Resources</a></li>
          </ul>
          <button class="btn-reset burger-close" aria-label="Close Menu" data-menu-close></button>
        </nav>
        <div class="header__button">
          <button class="btn btn-reset">Get project quote</button>
        </div>
      </div>
      <button class="burger" aria-label="Открыть меню" aria-expanded="false"  data-burger>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
      </button>
    </header>
    <div class="promo__wrapper">
      <h1 class="promo__header">Leaders in Software<br> Design & Development</h1>
      <p class="promo__subheader">
        Establishing a technology company takes a strong software team to deliver on what needs to be done.
      </p>
      <button class="btn-reset btn btn--primary">View our work</button>
    </div>
  </div>
</div>
